<!DOCTYPE html>
<html lang="es">
	
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../static/css/estilos.css">
	<title>TRABAJO PRACTICO 3</title>
</head>

<body>
	<header id="title"><h1>Programacion Visual</h1></header>
	<p class="parrafo-body">Materia de 2do año de la carrera Analista Programador Universitario </p>
	
	<nav class="menu">
		<h3 class="titulo_links">Links:</h3>
		<ul>
			<li><a class="links"  href="https://www.fi.unju.edu.ar">Pagina de FI Unju</a></li>
			<li><a class="links" href="https://virtual.unju.edu.ar/course/view.php?id=2540&section=1#tabs-tree-start">1ra Semana de la materia</a></li>
			<li><a class="links" href="https://virtual.unju.edu.ar/course/view.php?id=2540&section=2#tabs-tree-start">2da Semana de la materia</a></li>
			<li><a class="links" href="https://virtual.unju.edu.ar/course/view.php?id=2540&section=3#tabs-tree-start">3ra Semana de la materia</a></li>
		</ul>
		</nav>
		
		<main class="contenido-main" >
		<section class="profesores" >
			<h2 class="seccion1-h2" >Profesores de la catedra:</h2>
			<ul class="seccion1-lista" >
				<li>Ariel Vega</li>
				<li>Carolina Apaza</li>
				<li>Juan Carlos Rodriguez</li>
				<li>Gustavo Sosa</li>
			</ul>
			
			<h3 class="seccion1-h3" >Horario de clases</h3>
			<table class="seccion1-tabla" >
				<tr>
					<th>Teoria</th>
					<th>Practica</th>
				</tr>
				<tr>
					<td>Miercoles: 14 a 17hs</td>
					<td>Lunes: 18 a 21hs</td>
				</tr>
				<tr>
					<td></td>
					<td>Jueves: 14 a 17hs</td>
				</tr>
				<tr>
					<td></td>
					<td>Viernes: 18 a 21hs</td>
				</tr>
			</table>
			<h3 class="seccion1-h3" >Clases de consulta</h3>
			<table class="seccion1-tabla" >
				<tr>
					<th>Horario</th>
					<th>Profesor</th>
				</tr>
				<tr>
					<td>Viernes de 8:30 a 9:30hs</td>
					<td>Ariel Vega</td>
				</tr>
				<tr>	
					<td>Jueves de 17:00 a 18:00hs</td>
					<td>Carolina Apaza</td>
				</tr>
				<tr>
					<td>Miercoles de 18:00 a 19:00hs</td>
					<td>Juan Carlos Rodriguez</td>
				</tr>
				<tr>
					<td>Jueves de 20:00 a 21:00hs</td>
					<td>Gustavo Sosa</td>
				</tr>
			</table>
			<br>
		</section>
			
		<section class="seccion2" >
			
			<h2 class="seccion2-h2" >Semana 1</h2>
			<h3 class="seccion2-h3" >Contenido: </h3>
			<p>Objetivos  </p>
			<p>Instalar Java JDK 17 y Spring tool suite, manejo de github para los trabajos practicos de la materia y el manejo del lenguaje de 
				programacion java.</p>
		<p>Esta seccion describe lo que fuimos viendo en la primera semana</p>
		<ul class="seccion2-lista" >
			<li>Java JDK 17</li>
			<li>STS (SPRING TOOL SUITE 4)</li>
			<li>GitHub</li>
		</ul>
		<table class="seccion2-tabla" >
			<tr>
				<th>Contenido</th>
			</tr>
			<tr>
				<td>JAVA JDK 17</td>
			</tr>
			<tr>
				<td>STS (SPRING TOOL SUITE 4)</td>
			</tr>
			<tr>
				<td>GitHub</td>
			</tr>
		</table>
		</section>
		
		<section class="seccion3" >
			<h2 class="seccion3-h2" >Semana 2</h2>
			<h3 class="seccion3-h3" >Contenido: </h3>
			<p>Objetivos</p>
			<p>Profundizar los conceptos del lenguaje de programacion java
				, introducir el uso del tipo string y fecha, 
			manejar excepciones y poder hacer conversiones de datos en java </p>
			<p>Esta seccion describe lo que fuimos viendo en la segunda semana</p>
			<ul>
				<li>Sobrecarga - Excepciones</li>
				<li>Conversion de tipo de datos</li>
				<li>Fechas en Java</li>			
			</ul>
			<table class="seccion3-tabla" >
				<tr>
					<th>Sobrecarga - Excepciones</th>
					<th>Fechas en Java</th>
					<th>Conversion de tipo de datos</th>
				</tr>
				<tr>
					<td>Tratar errores</td>
					<td>LocalDate</td>
					<td>Tipos de datos</td>
				</tr>
				<tr>
					<td>Excepciones</td>
					<td>Calendar</td>
					<td>Wrappers</td>
				</tr>
				<tr>
					<td></td>
					<td>LocalDateTime</td>
					<td></td>
				</tr>
			</table>
			
		</section>
		
		<section class="seccion4" >
			<h2 class="seccion4-h2" >Semana 3</h2>
			<h3 class="seccion4-h3" >Contenido: </h3>
			<p>Objetivos</p>
			<p>Introducir el uso de los arreglos, conocer el de interfaces, 
				conocer el uso de las colecciones y comenzar el uso de proyectos Maven</p>
			<p>Esta seccion describe todo lo que fuimos viendo en la tercera semana</p>
			<ul>
				<li>Matrices</li>
				<li>Interfaces</li>
				<li>Colecciones</li>
			</ul>
			<table class="seccion4-tabla" >
				<tr>
					<th>Matrices</th>
					<th>Interfaces</th>
					<th>Colecciones</th>
				</tr>
				<tr>
					<td>Agrupacion de datos</td>
					<td>Abstracto</td>
					<td>List</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>ArrayList</td>
				</tr>
			</table>
		</section>
		
		</main>
		<aside class="adicionales" >
			<h3 class="adicionales-h3" >Adicionales</h3>
			<p class="adicionales-p" >Contenido del aside:</p>
			<a class="adicional-a" href="https://desarrolladoresweb.org/html/introduccion-a-html/">Introduccion a HTML</a>
			<p class="adicionales-p" >Imagen:</p>
			<img class="adicional-img" alt="imagen" src="../static/images/unju_virtual.jpeg">
		</aside>
		
			<footer id="pie2">Informacion de contacto: <a class="pie2-a" href="pricilaacsama12@gmail.com">pricilaacsama12@gmail.com</a></footer>
			<footer id="pie2">Facebook: <a class="pie2-a" href="https://www.facebook.com/pricila.acsama">PricilaAcsama</a></footer>
</body>



</html>